
@import '../base/common.less';

.crib-btn_plain-default {
  color: @cribBtnPlainDefaultColor;
  border: 1px solid @cribBtnPlainDefaultColor;
}

.crib-btn_plain-primary {
  color: @cribBtnPrimaryBgColor;
  border : 1px solid @cribBtnPrimaryBgColor;
}

.crib-btn_plain-warn {
  color: @cribBtnWarnBgColor;
  border : 1px solid @cribBtnWarnBgColor;
}
