
@import '../base/common.less';

.crib-btn_disabled {
  color : @cribBtnDisabledFontColor;
  &.crib-btn_default {
    color:@cribBtnDefaultDisabledFontColor;
    background-color: @cribBtnDefaultDisabledBgColor;
  }
  &.crib-btn_primary {
    background-color: @cribBtnPrimaryDisabledBg;
  }
  &.crib-btn_warn {
    background-color: @cribBtnwarnDisabledBg;
  }
}
