/*
button
*/

@cribBtnFontSize : 18px;
@cribBtnFontColor : #fff;
@cribBtnHeight: 44px;
@cribBorderRadius : 5px;

//default系列
@cribBtnDefaultFontColor : #000000; //字体颜色
@cribBtnDefaultBgColor :  #F8F8F8; //背景颜色

//primary系列
@cribBtnPrimaryBgColor : #1AAD19;
//warn系列
@cribBtnWarnBgColor : #E64340;
//plain系列
@cribBtnPlainDefaultColor:@cribBtnDefaultFontColor;

//disabled系列
@cribBtnDisabledFontColor : rgba(255,255,255,.6);
@cribBtnDefaultDisabledFontColor: rgba(0,0,0,.3);
@cribBtnDefaultDisabledBgColor: #F7F7F7;
@cribBtnPrimaryDisabledBg:#9ED99D;
@cribBtnwarnDisabledBg:#EC8B89;

//min系列
@cribBtnMiniFontSize:13px;
@cribBtnMiniHeight:2.3;


/*
dialog
*/
@cribDialogBackgroundColor: #FFFFFF;

/*
confirm
*/
@cirbConfirmWidth : 1.6em;
@cribConfrimBdfontColor : #999;
@cribConfirmLineColor: #D5D5D6;
@cribConfirmLinkColor: #3CC51F;
@cribConfirmLinkActiveBc: #EEEEEE;
@confirm-button-text-primary-color: #0BB20C;
@confirm-button-text-default-color: #353535;

/*
search
*/
@SearchBgColor : #EFEFF4;